<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drawing Machine GUI</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<nav><div>Draw-o-matic</div></nav>
<div id="img-area">
</div>
<footer>
    <div id="buttons">
        <button id="del-img">Delete image</button>
        <button id="upload-img">Upload image</button>
        <button id="send-img">Send to xArm</button>
    </div>
</footer>
<input id="file-select" type="file" accept="image/*">
<script src="../static/index.js" type="module"></script>
</body>
</html>